.hero {
  background: url(../images/hero_bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: calc(100vh - 107px);
  color: #FFFFFF;
  text-transform: uppercase;

  .hero_content {
    transform: rotate(-8.37deg);
    text-align: center;
    margin-top: 60px;

    .hero_link {
      display: block;
    }

  }

}