// BACKGROUND COLOR
$backgroundColor :#403C3B;

// FIRST FONT COLOR
$FirstFontColor : #ffffff;


// SECOND FONT COLOR
$FirstSecondColor : #CFCFCF;

// BACKGROUND GRADIENT COLOR
$backgroundGradient: linear-gradient(360deg, #211F20 0%, #44403F 100%);

// BUTTON BACKGROUND GRADIENT COLOR
$ButtonBgGradient: linear-gradient(114.93deg, #618967 5.11%, #72A479 94%);